[project]
	description = A new repository created in github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
[access "refs/for/refs/*"]
	read = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	push = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	label-Code-Review = -2..+2 group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	label-Verified = -1..+1 group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	rebase = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	removeReviewer = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	submit = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
[access "refs/heads/*"]
	read = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	create = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	push = +force group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	pushMerge = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
[access "refs/tags/*"]
	push = +force group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	pushTag = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
	pushSignedTag = group user/Pandiyarajan (PandiyarajanPitchaimuthu)
